<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
                                                        
<!-- 
	Name:  WebMemberInfoMapper.xml
	Table: FQ_WEB_MEMBER_INFO (会员基本信息表)
	Auth:  AutoCode4J
	Ver:   1.0
-->
<mapper namespace="com.jiuyv.hhc.model.customer.dao.WebMemberInfoDao">
	<!-- ,t0.PASSWORD as password -->
	<sql id="__select" >
	select
		   t0.CUSTOMER_CODE as customerCode
		  ,t0.VERSION as version
		  ,t0.CUSTOMER_TYPE as customerType
		  ,t0.FATHER_CUSTOMER_CODE as fatherCustomerCode
		  ,t0.RCMD_CODE as rcmdCode
		  ,t0.MOBILE as mobile
		  ,t0.REAL_NAME as realName
		  ,t0.PHONE as phone
		  ,t0.ID_NUMBER as idNumber
		  ,t0.ID_TYPE as idType
		  ,t0.ADDRESS as address
		  ,t0.ZIP as zip
		  ,t0.FACE as face
		  ,t0.EMAIL as email
		  ,t0.REGISTER_IP as registerIp
		  ,t0.LINK_CUSTOMER_SEQ as linkCustomerSeq
		  ,t0.USER_STATE as userState
		  ,t0.LAST_LOGIN_TIME as lastLoginTime
		  ,t0.LAST_LOGIN_IP as lastLoginIp
		  ,t0.LOCK_TIME as lockTime
		  ,t0.PASSWD_ERR as passwdErr
		  ,t0.REC_TIME as recTime
		  ,t0.LAST_UPT_TIME as lastUptTime
		  ,t0.LAST_UPT_ACC as lastUptAcc
		  ,t0.LAST_UPT_ORG as lastUptOrg
		  ,t0.EXPIRE_TIME as expireTime
		  ,t0.LOCAL_STATE as localState
		  ,t0.AUDIT_STATE as auditState
          ,if(t0.AUDIT_STATE = '0','已审核','未审核') as auditStateDesc
		  ,t0.AUDIT_STATE_REMARK as auditStateRemark
		  ,t0.Lic as lic 
		  ,st.CODE_NAME as userStateDesc
		  ,ta.REAL_NAME||'('||ta.MOBILE||')' as fatherCustomerCodeDesc
	  from FQ_WEB_MEMBER_INFO t0
	  left join (select * from FQ_SYS_CODE where code_type='PUB_VAILD') st on t0.USER_STATE=st.CODE_NO
	  left join FQ_WEB_MEMBER_INFO ta on t0.FATHER_CUSTOMER_CODE=ta.CUSTOMER_CODE
	</sql>
	
	<sql id="__selectBack" >
	select
		   t0.CUSTOMER_CODE as customerCode
		  ,t0.VERSION as version
		  ,t0.CUSTOMER_TYPE as customerType
		  ,t0.FATHER_CUSTOMER_CODE as fatherCustomerCode
		  ,t0.RCMD_CODE as rcmdCode
		  ,t0.MOBILE as mobile
		  ,t0.REAL_NAME as realName
		  ,t0.PHONE as phone
		  ,t0.ID_NUMBER as idNumber
		  ,t0.ID_TYPE as idType
		  ,t0.ADDRESS as address
		  ,t0.ZIP as zip
		  ,t0.FACE as face
		  ,t0.EMAIL as email
		  ,t0.REGISTER_IP as registerIp
		  ,t0.LINK_CUSTOMER_SEQ as linkCustomerSeq
		  ,t0.USER_STATE as userState
		  ,t0.LAST_LOGIN_TIME as lastLoginTime
		  ,t0.LAST_LOGIN_IP as lastLoginIp
		  ,t0.LOCK_TIME as lockTime
		  ,t0.PASSWD_ERR as passwdErr
		  ,t0.REC_TIME as recTime
		  ,t0.LAST_UPT_TIME as lastUptTime
		  ,t0.LAST_UPT_ACC as lastUptAcc
		  ,t0.LAST_UPT_ORG as lastUptOrg
		  ,t0.EXPIRE_TIME as expireTime
		  ,t0.LOCAL_STATE as localState
      	  ,t0.AUDIT_STATE as auditState
		  ,t0.AUDIT_STATE_REMARK as auditStateRemark
		  ,t0.Lic as lic 
		  ,st.CODE_NAME as userStateDesc
		  ,ta.REAL_NAME||'('||ta.MOBILE||')' as fatherCustomerCodeDesc
	  from FQ_WEB_MEMBER_INFO t0
	  left join (select * from FQ_SYS_CODE where code_type='PUB_VAILD') st on t0.USER_STATE=st.CODE_NO
	  left join FQ_WEB_MEMBER_INFO ta on t0.FATHER_CUSTOMER_CODE=ta.CUSTOMER_CODE
	</sql>
	
	<!-- select -->
	<select id="filterQuery" resultType="com.jiuyv.hhc.model.customer.WebMemberInfoVo">
 	 	<include refid="__select"/>
 	 	where 1=1
 	</select>
 	
 	<select id="findByKey" resultType="com.jiuyv.hhc.model.customer.WebMemberInfoVo">
 	 	<include refid="__select"/>
 	 	where t0.CUSTOMER_CODE = #{customerCode}
 	</select>
 	
	<!-- insert -->
	<insert id="insert" parameterType="com.jiuyv.hhc.model.customer.WebMemberInfoVo">
	    <!--
		<selectKey keyProperty="customerCode" order="BEFORE" resultType="java.lang.Long">select SEQ_FQ_WEB_MEMBER_INFO.nextval from dual</selectKey>
		  -->
		insert into FQ_WEB_MEMBER_INFO 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			VERSION,REC_TIME,LAST_UPT_TIME,
			<if test="customerType != null" >CUSTOMER_TYPE,</if>
			<if test="fatherCustomerCode != null" >FATHER_CUSTOMER_CODE,</if>
			<if test="rcmdCode != null" >RCMD_CODE,</if>
			<if test="mobile != null" >MOBILE,</if>
			<if test="password != null" >PASSWORD,</if>
			<if test="realName != null" >REAL_NAME,</if>
			<if test="phone != null" >PHONE,</if>
			<if test="idNumber != null" >ID_NUMBER,</if>
			<if test="idType != null" >ID_TYPE,</if>
			<if test="address != null" >ADDRESS,</if>
			<if test="zip != null" >ZIP,</if>
			<if test="face != null" >FACE,</if>
			<if test="email != null" >EMAIL,</if>
			<if test="registerIp != null" >REGISTER_IP,</if>
			<if test="linkCustomerSeq != null" >LINK_CUSTOMER_SEQ,</if>
			<if test="userState != null" >USER_STATE,</if>
			<if test="lastLoginTime != null" >LAST_LOGIN_TIME,</if>
			<if test="lastLoginIp != null" >LAST_LOGIN_IP,</if>
			<if test="lockTime != null" >LOCK_TIME,</if>
			<if test="passwdErr != null" >PASSWD_ERR,</if>
			<if test="lastUptAcc != null" >LAST_UPT_ACC,</if>
			<if test="lastUptOrg != null" >LAST_UPT_ORG,</if>
			<if test="expireTime != null" >EXPIRE_TIME,</if>
			<if test="localState != null" >LOCAL_STATE = #{localState},</if>	
			<if test="auditState != null" >AUDIT_STATE = #{auditState},</if>
			<if test="auditStateRemark != null" >AUDIT_STATE_REMARK = #{auditStateRemark},</if>	
			<if test="lic != null" >Lic = #{lic},</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			0,<include refid="dialect.__time"/>,<include refid="dialect.__time"/>,
			<if test="customerType != null" >#{customerType},</if>
			<if test="fatherCustomerCode != null" >#{fatherCustomerCode},</if>
			<if test="rcmdCode != null" >#{rcmdCode},</if>
			<if test="mobile != null" >#{mobile},</if>
			<if test="password != null" >#{password},</if>
			<if test="realName != null" >#{realName},</if>
			<if test="phone != null" >#{phone},</if>
			<if test="idNumber != null" >#{idNumber},</if>
			<if test="idType != null" >#{idType},</if>
			<if test="address != null" >#{address},</if>
			<if test="zip != null" >#{zip},</if>
			<if test="face != null" >#{face},</if>
			<if test="email != null" >#{email},</if>
			<if test="registerIp != null" >#{registerIp},</if>
			<if test="linkCustomerSeq != null" >#{linkCustomerSeq},</if>
			<if test="userState != null" >#{userState},</if>
			<if test="lastLoginTime != null" >#{lastLoginTime},</if>
			<if test="lastLoginIp != null" >#{lastLoginIp},</if>
			<if test="lockTime != null" >#{lockTime},</if>
			<if test="passwdErr != null" >#{passwdErr},</if>
			<if test="lastUptAcc != null" >#{lastUptAcc},</if>
			<if test="lastUptOrg != null" >#{lastUptOrg},</if>
			<if test="expireTime != null" >#{expireTime},</if>
			<if test="localState != null" >LOCAL_STATE = #{localState},</if>
			<if test="auditState != null" >AUDIT_STATE = #{auditState},</if>
			<if test="auditStateRemark != null" >AUDIT_STATE_REMARK = #{auditStateRemark},</if>	
			<if test="lic != null" >Lic = #{lic},</if>		
		</trim>
	</insert>
	
	<!-- update -->
	<update id="updateByKey" parameterType="com.jiuyv.hhc.model.customer.WebMemberInfoVo">
		update FQ_WEB_MEMBER_INFO 
		<set>
			VERSION = VERSION + 1, 
			LAST_UPT_TIME = <include refid="dialect.__time"/>,
			<if test="customerType != null" >CUSTOMER_TYPE = #{customerType},</if>
			<if test="fatherCustomerCode != null" >FATHER_CUSTOMER_CODE = #{fatherCustomerCode},</if>
			<if test="rcmdCode != null" >RCMD_CODE = #{rcmdCode},</if>
			<if test="mobile != null" >MOBILE = #{mobile},</if>
			<if test="password != null" >PASSWORD = #{password},</if>
			<if test="realName != null" >REAL_NAME = #{realName},</if>
			<if test="phone != null" >PHONE = #{phone},</if>
			<if test="idNumber != null" >ID_NUMBER = #{idNumber},</if>
			<if test="idType != null" >ID_TYPE = #{idType},</if>
			<if test="address != null" >ADDRESS = #{address},</if>
			<if test="zip != null" >ZIP = #{zip},</if>
			<if test="face != null" >FACE = #{face},</if>
			<if test="email != null" >EMAIL = #{email},</if>
			<if test="registerIp != null" >REGISTER_IP = #{registerIp},</if>
			<if test="linkCustomerSeq != null" >LINK_CUSTOMER_SEQ = #{linkCustomerSeq},</if>
			<if test="userState != null" >USER_STATE = #{userState},</if>
			<if test="lastLoginTime != null" >LAST_LOGIN_TIME = #{lastLoginTime},</if>
			<if test="lastLoginIp != null" >LAST_LOGIN_IP = #{lastLoginIp},</if>
			<if test="lockTime != null" >LOCK_TIME = #{lockTime},</if>
			<if test="passwdErr != null" >PASSWD_ERR = #{passwdErr},</if>
			<if test="lastUptAcc != null" >LAST_UPT_ACC = #{lastUptAcc},</if>
			<if test="lastUptOrg != null" >LAST_UPT_ORG = #{lastUptOrg},</if>
			<if test="expireTime != null" >EXPIRE_TIME = #{expireTime},</if>
			<if test="localState != null" >LOCAL_STATE = #{localState},</if>	
			<if test="auditState != null" >AUDIT_STATE = #{auditState},</if>	
			<if test="auditStateRemark != null" >AUDIT_STATE_REMARK = #{auditStateRemark},</if>		
			<if test="lic != null" >Lic = #{lic},</if>		
		</set>
		where CUSTOMER_CODE = #{customerCode} and VERSION = #{version}  
	</update>
	
	<select id="findByKeyandPwd" resultType="com.jiuyv.hhc.model.customer.WebMemberInfoVo">
 	 	<include refid="__selectBack"/>
 	 	where t0.CUSTOMER_CODE = #{customerCode} and t0.PASSWORD=#{password}
 	</select>
 	
 	<!-- 根据手机号查询用户信息 
 	<select id="findUserInfo" resultType="com.jiuyv.hhc.model.web.WebUser">
 		<include refid="__select"/>
 	 	where t0.MOBILE = #{userName}
 	</select>
 	-->
 	
 	<select id="findByMobile" resultType="com.jiuyv.hhc.model.customer.WebMemberInfoVo">
 	 	<include refid="__selectBack"/>
 	 	where t0.MOBILE = #{mobile}
 	</select>
 	
 	<select id="findByMobileandPwd" resultType="com.jiuyv.hhc.model.customer.WebMemberInfoVo">
 	 	<include refid="__selectBack"/>
 	 	where t0.MOBILE = #{mobile} and t0.PASSWORD=#{password}
 	</select>
	
	<!-- update -->
	<update id="updateAttempt" parameterType="java.lang.String">
		update FQ_WEB_MEMBER_INFO 
		<set>
			VERSION = VERSION + 1,LAST_UPT_TIME = <include refid="dialect.__time"/>,PASSWD_ERR = PASSWD_ERR+1,
			LAST_UPT_ACC = 'gate',
			LAST_UPT_ORG = '-1'
		</set>
		where MOBILE = #{mobile} and USER_STATE = '0'
	</update>
	
	<!-- update -->
	<update id="cleanAttempt" parameterType="java.lang.String">
		update FQ_WEB_MEMBER_INFO 
		<set>
			VERSION = VERSION + 1,LAST_UPT_TIME = <include refid="dialect.__time"/>,PASSWD_ERR = 0,
			LAST_UPT_ACC = 'gate',
			LAST_UPT_ORG = '-1'
		</set>
		where MOBILE = #{mobile} and USER_STATE = '0'
	</update>
</mapper>