<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>  
		<setting name="lazyLoadingEnabled" value="false"/>  
		<setting name="multipleResultSetsEnabled" value="true"/>  
		<setting name="useColumnLabel" value="true"/>  
		<setting name="useGeneratedKeys" value="true"/>  
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<!-- Not Support In Postgresql 9.1 jdbc3 -->
		<setting name="defaultStatementTimeout" value="25000"/>  
	</settings>
	<mappers>
		<!-- 
			dialect: Use different database dialect for pagination and other function. 
			note: Do not use two dialect in one application.
		<mapper resource="com/jiuyv/configs/mybatis/dialect.oracle.xml"/>
		-->
		
		<!-- 
		<mapper resource="com/jiuyv/hhc/configs/mybatis/dialect.oracle.xml"/>
		 -->		

		<mapper resource="com/jiuyv/hhc/configs/mybatis/dialect.mysql.xml"/>
		 
		<!-- 
			criteria: Criteria support common pagination and filter query.
			depends: dialect.*.xml    
		 -->
		<mapper resource="com/jiuyv/hhc/configs/mybatis/criteria.xml"/>
	</mappers>
</configuration>