<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 参数配置 -->
	<bean id="sysParamService" class="com.jiuyv.hhc.console.common.service.impl.SysParamServiceImpl" parent="assistService">
		<property name="sysParamDao" ref="sysParamDao" />
	</bean>
	<bean id="sysParamAction" class="com.jiuyv.hhc.console.common.action.SysParamAction" scope="prototype">
		<property name="sysParamService" ref="sysParamService" />
		<property name="mediaImageService" ref="mediaService"/>
	</bean>
	<!-- 初始化主题参数信息 -->
	<bean class="com.jiuyv.hhc.console.common.action.InitContextParam" >
		<property name="sysParamService" ref="sysParamService" />
	</bean>
</beans>