<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuyv.hhc.model.common.dao.ISysTimeDao">
	<select id="findDatabaseTime" resultType="com.jiuyv.hhc.model.common.SysTimeBean">
		select
			  <include refid="dialect.__time"/> as dataBaseTime 
			 ,<include refid="dialect.__date"/> as dataBaseDate
			 from dual
	</select>
</mapper>